/* In der Datei src/styles.css */
body {
  background-color: #111111; /* Hier deine Wunschfarbe */
  margin: 0;
  color: #ffffff;
}
/* Mustermarken-Banner */
.pattern-banner {
  width: 100%;
  height: 200px;
  background-image: url('/assets/mustermarke.png');
  background-repeat: repeat-x;
  background-position: center;
  border-top: 4px solid #8A2BE2;
  border-bottom: 4px solid #8A2BE2;
}
